*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  --faint-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --grad-faint-red: hsl(0, 80%, 86%);
  --grad-faint-red-2: hsl(0, 74%, 74%);
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.6rem;
  background: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card {
  position: relative;
  --ip-offset: 2rem;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 500px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
  }
}

.card__logo {
  margin-top: 2rem;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 500px) {
  .card__logo {
    position: absolute;
    top: 3.675rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5rem 10rem;
  margin: auto 6rem auto 5rem;
}

@media only screen and (max-width: 500px) {
  .card__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 5rem;
    margin: 0;
    text-align: center;
  }
}

.card__title {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 600;
  font-size: 5rem;
  font-family: 'Josefin Sans', sans-serif;
}

.card__title--colored {
  font-weight: 300;
  color: var(--faint-red);
}

.card__title:last-of-type {
  margin-bottom: 2rem;
}

.card__info {
  color: var(--faint-red);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.card__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media only screen and (max-width: 500px) {
  .card__group {
    width: 80%;
    margin: 0 auto;
  }
}

.card__input {
  border: 1px solid var(--faint-red);
  border-radius: 5rem;
  width: 80%;
  padding-left: var(--ip-offset);
}

.card__input::-webkit-input-placeholder {
  color: var(--faint-red);
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
}

.card__input:-ms-input-placeholder {
  color: var(--faint-red);
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
}

.card__input::-ms-input-placeholder {
  color: var(--faint-red);
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
}

.card__input::placeholder {
  color: var(--faint-red);
  display: inline-block;
  font-family: 'Josefin Sans', sans-serif;
}

.card__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 5px var(--faint-red);
          box-shadow: 0 0 5px var(--faint-red);
}

.card__cta {
  --width: 2.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: linear-gradient(135deg, var(--grad-faint-red), var(--grad-faint-red-2));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.75rem var(--width);
  border: none;
  margin: 1px;
  border-radius: 5rem;
  margin-left: calc((var(--width)*2 + 12px ) * -1);
}

.card__label {
  padding-left: var(--ip-offset);
  margin-top: 1rem;
  display: inline-block;
  color: var(--faint-red);
  visibility: hidden;
  opacity: 0;
}

.card__input:not(:placeholder-shown) ~ .card__label {
  opacity: 1;
  visibility: visible;
}

.card__image-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

@media only screen and (max-width: 500px) {
  .card__image-box {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: 7.5rem;
  }
}

.card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

footer {
  border-top: 1px solid var(--faint-red);
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  padding: 2rem;
}

footer .attribution {
  text-align: center;
}

footer .attribution a {
  color: var(--soft-red);
}
/*# sourceMappingURL=style.css.map */